@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

@mixin flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
}

.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    360deg,
    hsla(30, 15%, 18%, 1) 0%,
    hsla(0, 1%, 17%, 1) 81%
  );
  @include flex-center;
  flex-direction: column;

  &.play {
    & .player .wrapper {
      // animation: spin 3s linear infinite;
    }
  }

  & .header {
    @include flex-center;
    align-items: flex-end;
    flex: 0.2;
    & h3 {
      font-size: 2.2rem;
    }
  }
  & .player {
    flex: 0.8;

    @include flex-center;

    & .wrapper {
      background: rgb(63, 58, 49);
      border-radius: 1rem;
      padding: 3rem;

      & .details {
        @include flex-center;
        flex-direction: column;
        margin-bottom: 5rem;
        & .title {
          font-size: 2.8rem;
          font-weight: 600;
          margin-bottom: 4rem;
        }

        & .image-box {
          width: 11rem;
          height: 11rem;

          & img {
            border-radius: 50%;
            height: 100%;
            object-fit: cover;
            width: 100%;
          }
        }
      }
      & .playback {
        align-items: center;
        display: flex;
        flex-direction: column;

        & .progress {
          align-items: center;
          display: flex;
          // height: 2.5rem;
          background-color: rgba(255, 255, 255, 0.048);
          width: 20rem;
          cursor: pointer;
          & .progress-wrapper {
            background-color: white;
            border-radius: 0.5rem;
            height: 0.4rem;
          }
        }

        & .controller {
          @include flex-center;
          background: rgb(63, 58, 49);
          border-radius: 1 rem;
          margin-top: 3rem;
          width: 25rem;

          & button {
            background: none;
            border: none;
            color: rgba(226, 235, 206, 0.959);
            outline: none;
            &.play {
              margin: 0 3rem;
              & .play-icon {
                font-size: 5rem;
              }
            }
          }

          & .fas {
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}

@keyframes spin {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
